# bundler
Gemfile.lock

# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# For emacs:
*~
\#*
.\#*

# For vim:
*.swp

# For rubinius:
*.rbc
